services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ademir-frontend
    ports:
      - "3000:80"
    restart: unless-stopped
    networks:
      - backend-network

networks:
  backend-network:
    name: backend-network
    external: true

